@font-face {
    font-family: 'pixel';
    src: url('fonts/pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h3, h4, h5, h6, p {
    letter-spacing: 4px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

h1 {
    letter-spacing: 4px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.7);
    font-size: 4em;
}

body {
    background-color: #361572;
    background-image:url('images/background.png');
    background-size: 100% auto;
    color: #c7b24a;
    margin: 0;
    padding: 0;
    font-family: 'pixel', sans-serif;
    letter-spacing: 3px;
}

/* Style input fields */
input, select, textarea {
    background-color: #4e5779;
    color: #e2ebf9;
    border: 1px solid #0d2041;
    padding: 5px;
    border-radius: 5px;
}

/* Style buttons */
button {
    background-color: #4e5779;
    color: #e2ebf9;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #666;
}

/* Style the dropdown */
select {
    background-color: #4e5779;
    color: #e2ebf9;
    border: 1px solid #0d2041;
}

/* main text */
label {
    color: #2d2d2d;
    font-weight: bold;
}

#sidePanel {
    width: 300px;
    background-color: #4e5779;
    padding: 15px;
    border-left: 2px solid #0d2041;
    color: #fff;
    font-family: 'pixel', sans-serif;
}

#descInput {
    width: 320px;
    height: 80px;
    background-color: #4e5779;
    color: #fff;
    border: 1px solid #0d2041;
    padding: 5px;
    font-family: sans-serif;
}

#previewContainer {
    position: relative;
    min-width: 160px;
    max-width: 320px;
    padding: 10px;
    background-color: #2b2b2b;
    border: 4px solid #fff;
    border-radius: 15px;
    text-align: center;
    font-family: 'pixel', sans-serif;
    color: #2b2b2b;
    box-shadow: 4px 4px 0px 0px #000;
}

#previewContainer p {
    padding: 10px;
}

#descBubble {
    display: inline-block;
    width: 95%;
    background-color: #eee;
    color: #2b2b2b;
    padding: 10px;
    border-radius: 10px;
    font: 14px;
    font-weight: bold;
    box-shadow: inset 2px 2px 00px #aaa;
}

#descPreview {
    white-space: pre-line;
}

#descriptionContainer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

#mainContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

#variableInputs {
    flex: 1;
    max-width: 600px;
}

#output {
    width: 80%;
    height: 300px;
    background-color: #4e5779;
    color: #c7b24a;
    border: 2px solid #0d2041;
    padding: 10px;
    font-family: monospace;
    resize: vertical;
    position: left;
}

#descName {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.collapsible-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    transform: translateY(0);
    background-color: "#4e5779";
    border-radius: 5px;
    width: 30%;
    padding: 2%;
    z-index: 1000;
}

.menu-toggle {
    background-color: #4e5779;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: 1px solid #0d2041;
    cursor: pointer;
    font-size: 16pz;
    font-family: 'pixel', sans-serif;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-content {
    display: none;
    overflow-y: auto;
    padding:10px;
}

.menu-content::webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.menu-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.menu-section {
    margin-bottom: 10px;
}

.section-toggle {
    background-color: #4e5779;
    padding: 8px;
    width: 100%;
    border: 1px solid #0d2041;
    font-family: 'pixel', sans-serif;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    border-radius: 5px;
}

.section-content {
    display: none;
    padding: 5px;
    background-color: #4e5779;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #0d2041;
    font-size: 12px;
    max-height: 500px;
    box-sizing: border-box;
    overflow-y: auto;
}